*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: 400% 400%;
    background: linear-gradient(130deg, #667eea 0%, #764ba2 50%, #bd7fc4 100%);
    display: flex;
    padding: 20px;
    animation: gradient 5s ease infinite;
}

@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.hidden{
    display: none;
}

.container{
    width: 100%;
    max-width: 450px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    animation: slide 0.8s cubic-bezier(0.47, 0, 0.745, 0.715);
    padding: 2.5rem 2rem;
    
}

@keyframes slide{
    from{
        opacity: 0;
        transform: translateY(50px) scale(0.9);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }

}

h1{
    color: white;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.403);
    animation: fadedown .8s .2s both;
}

@keyframes fadedown{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}


.input-box{
    display: flex;
    gap: 1.8rem;
    margin-bottom: 2rem;
    animation: fadedown .8s .4s both;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#city-input{
    flex: 1;
    padding: 1rem 1.5rem;
    background: rgba(0, 0, 0, 0.007);
    color: white;
    font-size: 1rem;
    border-radius: 50px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    outline: none;
    transition: all .8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    width: 75%;
    text-align: center;
}

#city-input::placeholder{
    color: rgba(211, 194, 194, 0.6);
    text-align: center;
}

#city-input:focus{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.504);
    background: rgba(0, 0, 0, 0.6);
    transform: scale(1.2);
}

#get-weather{
    padding: 1rem 1.8rem;
    background: linear-gradient(135deg, #f093fb 0% , #f093fb 50% ,  #f5576c  100%);
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 5px 15px rgb(246, 87, 108, .5);
    transition: all .8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    white-space: nowrap;
    width: 200px;
    align-items: center;


}

#get-weather:hover{
    transform: translateY(-3px) scale(1.15);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.471);
}

#get-weather:active{
    transform: translateY(-2px) scale(1);

}

#weather-info{
    text-align: center;
    color: white;
    padding: 1.5rem;
    background:rgba(7, 7, 7, 0.247) ;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0.486);
    animation: pop 0.6s cubic-bezier(0.215, 0.610, 0.355, 1);
}

@keyframes pop{
    from{
        opacity: 0;
        transform: scale(.5);
    }

    to{
        opacity: 1;
        transform: scale(1);
    }
}

#city-name{
    font-size: 2.5rem;
    font-weight: 500;
    white-space: nowrap;
    margin-bottom: 2rem;
    animation: fadeup 0.6s 0.2s both;
}

#temperature{
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem 0 ;
    text-shadow: 0 5px 20px rgba(0, 0, 0, 0.279);
    animation: fadeup 0.6s 0.3s both;
    white-space: nowrap;
}

#temperature::after{
    content: ' C';
    font-size: 1.5rem;
    vertical-align: super;
    white-space: nowrap;
}

#description{
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    opacity: 0.9;
    animation: fadeup 0.6s 0.4s both;
    white-space: nowrap;

}

@keyframes fadeup{
    from{
        opacity: 0;
        transform: translateY(20px);

    }

    to{
        opacity: 1;
        transform: translateY(0);

    }
}

#error-msg{
    text-align: center;
    color: white;
    background: rgba(255,87,87,0.7);
    border: 1px solid rgba(0, 0, 0, 0.503);
    border-radius: 30px;
    padding: 1.2rem;
    animation: shake .6s infinite;
}

@keyframes shake{
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10px);
    }
    75% {
        transform: translateX(10px);
    }
}

@media (max-width: 500px) {
  .container {
    padding: 2rem 1.5rem;
  }
  
  h1 {
    font-size: 1.5rem;
  }
  
  .input-box {
    flex-direction: column;
  }
  
  #get-weather {
    width: 75%;
  }
  
  #temperature {
    font-size: 1.5rem;
  }
  
  #city-name {
    font-size: 1.5rem;
  }

  #description{
      font-size:.9rem;
  }
}

/* Passing Clouds Background */

body {

  margin: 0;

  min-height: 100vh;

  background: radial-gradient(circle at left, #ff346eb6 0%, #98D8E8 100%);

  position: relative;

  overflow: hidden;

}



/* Cloud 1 */

body::before {

  content: '';

  position: fixed;

  top: 15%;

  left: -200px;

  width: 200px;

  height: 60px;

  background: rgb(255, 255, 255);

  border-radius: 100px;

  opacity: 0.8;

  filter: blur(1px);

  box-shadow: 

    40px 10px 0 -5px rgb(255, 255, 255),

    25px 0 0 rgb(255, 83, 26),

    120px 10px 0 -10px white;

  animation: cloudPass 60s linear infinite;

  pointer-events: none;

  z-index: 0;

}



/* Cloud 2 */

body::after {

  content: '';

  position: fixed;

  top: 20%;

  left: -250px;

  width: 250px;

  height: 70px;

  background: rgba(111, 155, 221, 0.505);

  border-radius: 100px;

  opacity: 0.6;

  filter: blur(2px);

  box-shadow: 

    50px 15px 0 -10px rgba(6, 93, 89, 0.485),

    100px 5px 0 0px rgba(45, 104, 147, 0.637),

    150px 15px 0 -15px rgba(3, 17, 97, 0.46);

  animation: cloudPass 35s linear infinite;

  animation-delay: -10s;

  pointer-events: none;

  z-index: 0;

}



/* Extra cloud using div */

.cloud {

  position: fixed;

  top: 80%;

  left: -180px;

  width: 180px;

  height: 50px;

  background: white;

  border-radius: 100px;

  opacity: 0.5;

  filter: blur(1.5px);

  box-shadow: 

    35px 8px 0 -5px white,

    70px 0px 0 3px white,

    110px 8px 0 -8px white;

  animation: cloudPass 15s linear infinite;

  animation-delay: -5s;

  pointer-events: none;

  z-index: 0;

}



.cloud2 {

  position: fixed;

  top: 5%;

  left: -180px;

  width: 180px;

  height: 40px;

  background: white;

  border-radius: 100px;

  opacity: 0.5;

  filter: blur(1.5px);

  box-shadow: 

    35px 8px 0 -5px white,

    70px 0px 0 3px white,

    110px 8px 0 -8px white;

  animation: cloudPass 18s linear infinite;

  animation-delay: -5s;

  pointer-events: none;

  z-index: 0;

}



@keyframes cloudPass {

  0% { transform: translateX(0); }

  100% { transform: translateX(calc(100vw + 300px)); }

}



/* Content mela vara */

.container {

  position: relative;

  z-index: 1;

    }
